<html>
  <head>

  </head>

  <body>
    <div class="text-success">
    <%= flash[:notice] %>
    </div>

    <h1>Editing Book</h1>

    <% if @book.errors.any? %>
    　<div id="error_explanation">
        <h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form">
    <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

      <div class="field">
        <label for="book-title">Title</label>
        <div class="text-field"><%= f.text_field :title %></div>
      </div>

      <div class="field">
        <label for="book-body">Body</label>
        <div class="text-body"><%= f.text_area :body %></div>
      </div>

      <div class="action">
      <%= f.submit 'Update Book' %>
      </div>

      <div class="wrap">
        <div class="box-a"><%= link_to "Show", book_path(@book.id) %></div>
        <div class="box-b"><%= link_to 'Back', books_path %></div>
      </div>

     <% end %>
    </div>
  </body>
</html>