<html>
  <head> </head>
  <body>
    <div class="text-success">
    <%= flash[:notice] %>
    </div>
    
    <p>
      <strong>Title：<storong>
      <%= @book.title %>
    </p>
   

    <p>
      <strong>Body：</strong>
      <%= @book.body %>
    </p>
    
    <div class="wrap">
      <div class="box-a"><%= link_to "Edit", edit_book_path(@book.id) %></div>
      <div class="box-b"><%= link_to 'Back', books_path %></div>
    </div>
    
   </body> 
</html>