<html>
  <head> </head>
  <body>
    <div class="text-success">
    <%= flash[:notice] %>
    </div>
    
    <p>
      <strong>Title：<storong>
      <%= @book.title %>
    </p>
   

    <p>
      <strong>Body：</strong>
      <%= @book.body %>
    </p>
    
  
    <a><%= link_to "Edit", edit_book_path(@book.id) %></a>
    <a><%= link_to 'Back', books_path(@book.id) %></a>
    
   </body> 
</html>